<!DOCTYPE html>
<html>
	<head>
    	<title>Following</title>
  	</head>
  	<body>
	  	<div id = "header" style="background-color:#000000;">
			<a href="/login/main">
				<button>Home</button>
			</a>
			<button>@ Connect</button>
			<button># Discover</button>
			<a href="/login/profile_page">
				<button>Me</button>	
			</a>
			<button>Settings</button>
			<a href="/logout">
				<button>Logout</button>
			</a>
			<form method ="get" id ="seach" style="float:right;" action="/search">
				<input type="hidden" name="uname" value=<%= user.uname %> />
				<input type="hidden" name="pword" value=<%= user.pword %> />
				<input type="text" name="search_uname"/>
				<input type="submit" name="submit" value="Search" />
			</form>
		</div>
		<div id="user_info">
			<div id="profile_info">
				<img id="profile_image" src=<%= user.imageLoc %> height="50" weight="50"/>
				<span id="profile_name" onclick="<insert link to profile>"><%= user.first %> <%= user.last %></span>
			</div>
			<div id="profile_stats">
				<div id="tweet_count">
					<span id="tweet_count_num"><%= user.tweetCount %></span>
					<span id="tweet_count_text">Tweets</span>
				</div>
				<div id="follower_count">
					<a href="/login/followers">
						<button><%= user.followerCount %> Followers </button>
					</a>
				</div>
				<div id="following_count">
					<a href="/login/following">
						<button><%= user.followingCount %> Following </button>
					</a>
				</div>
		</div>

		<h1>Following</h1>
		<div id="following">
			<ul style="list-style: none">
				<% var len = (following === undefined) ? 0 : following.length; %>
				<% for (var k = 0; k < len; k++) { %>
					<li style="border-width: 1px; border-color: black; border-style: solid; width: 50%;"> 
						<img src=<%= following[k].imageLoc %> height="40" width="40" />
						<%= following[k].first %> <%= following[k].last %>: <%= following[k].uname %> 
					</li>
				<% } %>
			</ul>
		</div>

	</body>
</html>