<!DOCTYPE html>
<html>
	<head>
    	<title>Followers</title>

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/kickstart.js"></script> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" /> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  	</head>
  	<body>
	  	<!-- Menu Horizontal -->
		<ul class="menu">
			<li><a href="login/main"><i class="icon-home"></i>Home</a></li>
			<li><a href="/profile_page"><i class="icon-user"></i>Me</a></li>
			<li>
			<form method ="get" id ="seach" action="/search">
				<input type="hidden" name="uname" value=<%= user.uname %> />
				<input type="hidden" name="pword" value=<%= user.pword %> />
				<input id="text1" name="search_uname"/>
				<input type="Submit" name="submit" value="Search" />
			</form>
			</li>
			<li><a href="/logout"><i class="icon-remove-circle"></i>Logout</a></li>
		</ul>

		<div id="user_info">
			<div id="profile_info">
				<img id="profile_image" src=<%= user.imageLoc %> height="50" weight="50"/>
				<span id="profile_name" onclick="<insert link to profile>"><%= user.first %> <%= user.last %></span>
			</div>
			<div id="profile_stats">
				<div id="tweet_count">
					<span id="tweet_count_num"><%= user.tweetCount %></span>
					<span id="tweet_count_text">Tweets</span>
				</div>
				<div id="follower_count">
					<a href="/followers">
						<button><%= user.followerCount %> Followers </button>
					</a>
				</div>
				<div id="following_count">
					<a href="/following">
						<button><%= user.followingCount %> Following </button>
					</a>
				</div>
		</div>

		<h1>Followers</h1>
		<div id="followers">
			<ul style="list-style: none">
				<% var len = (followers === undefined) ? 0 : followers.length; %>
				<% for (var k = 0; k < len; k++) { %>
					<li style="border-width: 1px; border-color: black; border-style: solid; width: 50%;"> 
						<img src=<%= followers[k].imageLoc %> height="40" width="40" />
						<%= followers[k].first %> <%= followers[k].last %>: <%= followers[k].uname %>
						<form method ="post" id ="follow" style="float:right;" action="/follow">
							<input type="hidden" name="current_uname" value=<%= user.uname %> />
							<input type="hidden" name="current_pword" value=<%= user.pword %> />
							<input type="hidden" name="user_to_follow_uname" value= <%= followers[k].uname %> />
							<input type="hidden" name="user_to_follow_pword" value= <%= followers[k].pword %> />
							<input type="submit" name="submit" value="Follow" />
						</form> 
					</li>
				<% } %>
			</ul>
		</div>

	</body>
</html>