<!DOCTYPE html>
<html>
	<head>
    	<title>Home</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="/js/kickstart.js"></script> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" /> <!-- KICKSTART -->
		<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />
  	</head>
  	<body>
	  	<!-- Menu Horizontal -->
		<ul class="menu">
			<li><a href="login/main"><i class="icon-home"></i>Home</a></li>
			<li><a href="/profile_page"><i class="icon-user"></i>Me</a></li>
			<li>
			<form method ="get" id ="seach" action="/search">
				<input type="hidden" name="uname" value=<%= user.uname %> />
				<input type="hidden" name="pword" value=<%= user.pword %> />
				<input id="text1" name="search_uname"/>
				<input type="Submit" name="submit" value="Search" />
			</form>
			</li>
			<li><a href="/logout"><i class="icon-remove-circle"></i>Logout</a></li>
		</ul>
		
		<h2>Current User: <%= user.uname %></h2>

		<h1>Search Results</h1>
		<div id="search_results">
			<ul style="list-style: none">
				<% var len = (users === undefined) ? 0 : users.length; %>
				<% for (var k = 0; k < len; k++) { %>
					<li style="border-width: 1px; border-color: black; border-style: solid; width: 50%;"> 
						<img src=<%= users[k].imageLoc %> height="40" width="40" />
						<%= users[k].first %> <%= users[k].last %> 
						<a href="/<%= users[k].uname %>">
							@<%= users[k].uname %>
						</a>
						<form method ="post" id ="follow" style="float:right;" action="/follow">
							<input type="hidden" name="current_uname" value=<%= user.uname %> />
							<input type="hidden" name="current_pword" value=<%= user.pword %> />
							<input type="hidden" name="user_to_follow_uname" value= <%= users[k].uname %> />
							<input type="hidden" name="user_to_follow_pword" value= <%= users[k].pword %> />
							<input type="submit" name="submit" value="Follow" />
						</form>
					</li>
				<% } %>
			</ul>
		</div>

	</body>
</html>