<!DOCTYPE html>
<html>
	<head>
    	<title>Home</title>
  	</head>
  	<body>
	  	<div id = "header" style="background-color:#000000;">
			<a href="/login/timeline">
				<button>Home</button>
			</a>
			<button>@ Connect</button>
			<button># Discover</button>
			<a href="/login/profile_page">
				<button>Me</button>	
			</a>
			<button>Settings</button>
			<a href="/logout">
				<button>Logout</button>
			</a>
			<form method ="get" id ="seach" style="float:right;" action="/search">
				<input type="hidden" name="uname" value=<%= user.uname %> />
				<input type="hidden" name="pword" value=<%= user.pword %> />
				<input type="text" name="search_uname"/>
				<input type="submit" name="submit" value="Search" />
			</form>
		</div>
		<div id="user_info">
			<div id="profile_info">
				<img id="profile_image" src=<%= user.imageLoc %> height="50" weight="50"/>
				<span id="profile_name" onclick="<insert link to profile>"><%= user.first %> <%= user.last %></span>
			</div>
			<div id="profile_stats">
				<div id="tweet_count">
					<span id="tweet_count_num"><%= user.tweetCount %></span>
					<span id="tweet_count_text">Tweets</span>
				</div>
				<div id="follower_count">
					<span id="follower_count_num"><%= user.followerCount %></span>
					<span id="follower_count_text">Followers</span>
				</div>
				<div id="following_count">
					<span id="following_count_num"><%= user.followingCount %></span>
					<span id="following_count_text">Following</span>
				</div>
			</div>
		</div>

		<h1>Tweets</h1>
		<div id="tweets">
			<ul style="list-style: none">
				<% var len = (tweets === undefined) ? 0 : tweets.length; %>
				<% for (var k = len - 1; k >= 0; k--) { %>
					<li style="border-width: 1px; border-color: black; border-style: solid; width: 50%;"> 
						<img src=<%= tweets[k].image_loc %> height="40" width="40" />
						<%= tweets[k].name %>: <%= tweets[k].tweet %> 
					</li>
				<% } %>
			</ul>
		</div>

	</body>
</html>